body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #f9f9f9, #e6e6e6);
}

h1 {
  color: #333;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.container {
  width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table {
  width: 60%;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table thead th {
  background-color: #333;
  color: white;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tbody tr:hover {
  background-color: #ddd;
}

.table-bordered {
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #ddd;
}

.table-bordered thead th {
  background-color: #333;
  color: white;
}

.table-bordered tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-bordered tbody tr:hover {
  background-color: #ddd;
}

.chart-container {
  width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.gantt-chart {
  height: 275px;
}

#tb2 {
  width: 60%;
  margin-bottom: 20px;
}

#tb2 th,
#tb2 td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#tb2 thead th {
  background-color: #333;
  color: white;
}

#tb2 tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

#tb2 tbody tr:hover {
  background-color: #ddd;
}